<table>
  <tr>
    <th>Meals title</th>
  </tr>
  <% for meal in @meals %>
    <tr>
      <td><%=h meal.title %></td>
      <td><%= link_to "Show", meal %></td>
      <td><%= link_to "Edit", edit_meal_path(meal) %></td>
      <td><%= button_to 'Delete', meal_path(meal), 
      method: :delete,
      form: {data: {turbo_confirm: 'Are you sure?'}} %></td>
    </tr>
  <% end %>
</table>